$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

html {

}

body {
  padding-top: 50px;
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-blanket {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

.container {
  position : relative;
  z-index: 10;
  color : #fff;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
